{% extends 'cores/base.html' %} {% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-centered">
        <h1 class="mt-5 mb-3">Welcome</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
		<p style="font-size: 13px;">
			Are you Lender or a Borrower?
		  </p>
		  <input type="checkbox"  class="lender_selected" name="lender" value="{{obj.lender}}"> Lender
		  <input type="checkbox"  class="borrower_selected" name="borrower" value="{{obj.borrower}}"> Borrower
			<form class="lender_form" method="post" action="/lender_login">
				<center><h1>Login as a Lender</h1></center>
				{% csrf_token %}
				<div class="form-group">
					<p><label for="email">Email:</label>  </p>
					<input
					type="text"
					name="email"
					class="form-control"
					maxlength="150"
					id="email"
					required
					/>
				</div>
				<div class="form-group">
					<p><label for="email">Password:</label>  </p>
					<input
					type="password"
					name="password"
					class="form-control"
					id="password"
					required
					/>
				</div>
				{% if form.non_field_errors %} {% for error in form.non_field_errors %}
				<p style="font-size: 13px;">
					{{ error|escape }}
				</p>
				{% endfor %} {% endif %}
				<div>
				<a href="/register">Click here to register</a>
				</div>
				<center><button type="submit" class="btn btn-primary">Login</button></center>
			</form>
			<form class="borrower_form" method="post" action="/borrower_login">
				<center><h1>Login as a Borrower</h1></center>
				{% csrf_token %}
				<div class="form-group">
					<p><label for="email">Email:</label>  </p>
					<input
					type="text"
					name="email"
					class="form-control"
					maxlength="150"
					id="email"
					required
					/>
				</div>
				<div class="form-group">
					<p><label for="email">Password:</label>  </p>
					<input
					type="password"
					name="password"
					class="form-control"
					id="password"
					required
					/>
				</div>
				{% if form.non_field_errors %} {% for error in form.non_field_errors %}
				<p style="font-size: 13px;">
					{{ error|escape }}
				</p>
				{% endfor %} {% endif %}
				<div>
				<a href="/register">Click here to register</a>
				</div>
				<center><button type="submit" class="btn btn-primary">Login</button></center>
			</form>
      </div>
    </div>
  </div>
</section>
<script>
	$(document).ready(function(){
	  $('.lender_form').show();
	  $(".lender_selected").prop("checked", true);
	  $('.borrower_form').hide();
	  $('.lender_selected').click(function(){
			if($(this).is(":checked")){
				$('.lender_form').show();
				$('.borrower_form').hide();
				$(".borrower_selected").prop("checked", false);
			}
			else if($(this).is(":not(:checked)")){
			  $('.lender_form').hide();
			}
		});
	  $('.borrower_selected').click(function(){
			if($(this).is(":checked")){
				$('.borrower_form').show();
				$('.lender_form').hide();
				$(".lender_selected").prop("checked", false);
			}
			else if($(this).is(":not(:checked)")){
			  $('.borrower_form').hide();
			}
		});
	});
  </script>
{% endblock %}